nav {
    background-color: #333333;
    width: 100%;
}
.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10% 30% 20% 20% 20%;
}

.nav_ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    color: white;
    text-align: center;

}

ul li a:hover {
    background-color: black;


}


#nav_logo{
    grid-column-start: 1;
    grid-column-end: 2;
}
.logo_image {
    width: 30px;
    padding: 12px 15px;
}
.nav_home{
    grid-column-start: 3;
    grid-column-end: 4;
}
.nav_products{
    grid-column-start: 4;
    grid-column-end: 5;
}
.nav_contact{
    grid-column-start: 5;
    grid-column-end: 6;
}
button {
    border: none;
    color: #7caa2e;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 20px 10px;
    width:15%;

}
.nav_button:hover {
    color:white;
    background-color: black;
}

body{
    background-image: url("lehdet_erol-ahmed.jpg");
    background-color: #333333;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
    margin: 0px;
}
.background_image {
    width:100%;
    opacity:10%;
}
main {

    margin-top: 80px;
}
h1 {
    color: white;
    font-size: 30px;
    font-family: Garamond, sans-serif;
    text-align: center;
}
.home_image{
    display: block;
    margin: auto;
    width:80%;

}
p {
    color:white;
}
.home_paragraph{
    display: block;
    margin: auto;
    width:80%;

}
.products{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: #333333;
    /*flex-box*/
}