/*It is 4AM.
Grid columns and rows don't want to work on same div.
If it works it works*/

nav {
    background-color: #333333;
    width: 100%;
}
.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10% 30% 20% 20% 20%;
}

.nav_ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    color: white;
    text-align: center;

}

ul li a:hover {
    background-color: black;
}


#nav_logo{
    grid-column-start: 1;
    grid-column-end: 2;
}
.logo_image {
    width: 30px;
    padding: 12px 15px;
}
.nav_home{
    grid-column-start: 3;
    grid-column-end: 4;
}
.nav_products{
    grid-column-start: 4;
    grid-column-end: 5;
}
.nav_contact{
    grid-column-start: 5;
    grid-column-end: 6;
}
button {
    border: none;
    color: #7caa2e;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 20px 10px;
    width:15%;

}
.nav_button:hover {
    color:white;
    background-color: black;
}

body{
    background-image: url("lehdet_erol-ahmed.jpg");
    background-color: #333333;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
    margin: 0;
}
.background_image {
    width:100%;
    opacity:10%;
}
.main_home {
    margin-top: 40px;
}
h1 {
    color: white;
    font-size: 30px;
    font-family: Garamond, sans-serif;
    text-align: center;
}
p {
    color:white;
    font-family: Garamond, sans-serif;
}
.home_image{
    display: block;
    margin: auto;
    width: 87%;
}
p {
    color:white;
    font-family: Garamond, sans-serif;
}
.home_paragraph{
    display: block;
    margin: auto;
    width: 87%;

}

.products_main {
    display:grid;
    grid-template-rows: 40% 10% 50%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

}

.products_hero_image {
    display: block;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.hero_text{
    margin: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
}

.wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 15px;
    margin-top: 15px;

}
.product_div_1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #333333;
    padding: 15px;
}

.product_div_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #333333;
    padding: 15px;

}
.product_div_3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #333333;
    padding: 15px;
}
.product_wraper{
    display:grid;
    grid-template-column: 1fr;
    overflow:auto;
}

.product_image{
    width:100%;
}
.product_image_text{
    opacity: 60%;
}
.main_contacts{
    display:grid;
    grid-template-rows: 10% 90%;
    height: 300px;
}
h3 {
    width:100%;
    color: white;
    font-size: 30px;
    font-family: Garamond, sans-serif;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 5px;
}
.contacts_wraper{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    padding:30px;
    margin-bottom: 100px;

}
.contacts_div {
    grid-column-start: 1;
    grid-column-end: 2;
}
.adress_italics{
    font-style: italic;

}
.adress_bold {
    font-weight: bold;
}

iframe {
    grid-column-start: 2;
    grid-column-end: 3;
    width:100%;
    object-fit: cover;
}
